@using MT.SC.Feature.News
@using MT.SC.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@if (!Model?.Item?.IsDerived(Templates.NewsArticle.ID) ?? true)
{
  return;
}

<div>
  @Html.Sitecore().Field(Templates.NewsArticle.Fields.Body, Model.Item)
</div>
