@{
    ViewBag.Title = "Search";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p></p>

<div class="row">
	<div class="col-md-4">
		<h2>Userinput:</h2>
		<p>
			@ViewBag.Userinput
		</p>

	</div>
	<div class="col-md-4">
		<h2>Sanitized:</h2>
		<p>
			@ViewBag.Sanitized
		</p>

	</div>

</div>