<?xml version="1.0" encoding="utf-8" ?>
<!--
Purpose: This include file configures the Layout service extension getLayoutServiceContext to verify user's access on Sitecore Item
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/"  xmlns:role="http://www.sitecore.net/xmlconfig/role/" >
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
	<settings>
		<setting name="SecurePagesPath" set:value="$(env:CT_SecurePagesPath)" />
	</settings>
	<pipelines>
	  <group groupName="layoutService">
		  <pipelines>
			  <getLayoutServiceContext>
				  <processor type="CT.SC.Foundation.SitecoreExtensions.LayoutService.LayoutServiceContext.UserItemAuthorization, CT.SC.Foundation.SitecoreExtensions"
							 resolve="true">
					  <AllowedConfigurations hint="list">
						  <!-- Unless you change the Layout Service config used by your JSS app, this should always be present. -->
						  <jss>default</jss>
					  </AllowedConfigurations>
				  </processor>
			  </getLayoutServiceContext>
		  </pipelines>
	  </group>
	  </pipelines>	  
  </sitecore>
</configuration>