<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <sc.variable name="sourceFolder" value="D:\SVN\Sitecore\Base_Solution\CT.SC\src" />
        <!--<sites role:require="Standalone">
            <site name="BrandA">
                <patch:attribute name="database">master</patch:attribute>
            </site>
        </sites>-->
    </sitecore>
</configuration>