<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Project.BrandA.Website" description="BrandA content" dependencies="Foundation.*,Feature.*,Project.Common" extends="Helix.Project">
                    <predicate>
                        <include name="Layouts" database="master" path="/sitecore/layout/layouts/Project/BrandA" />
                        <include name="PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/BrandA" />
                        <include name="Models" database="master" path="/sitecore/layout/models/Project/BrandA" />

                        <include name="Content" database="master" path="/sitecore/content/CT/BrandA" />
                        <include name="Media" database="master" path="/sitecore/media library/Project/CT/BrandA" />
                        <include name="Metadata" database="master" path="/sitecore/system/settings/feature/metadata/BrandA" />

                        <include name="Profiling" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/BrandA" />
                        <include name="Outcomes" database="master" path="/sitecore/system/Marketing Control Panel/Outcomes/BrandA" />
                        <include name="Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/BrandA" />
                        <include name="Goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/BrandA" />
                    </predicate>
                    <rolePredicate>
                        <include domain="extranet" pattern="^Project Habitat .*$" />
                    </rolePredicate>
<!--
                    TODO: Bug in Unicorn with SC v9?
                    <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
                        <include domain="extranet" pattern="^((?!Anonymous).)*$" />
                    </userPredicate>
                    <userSyncConfiguration defaultPassword="b" minPasswordLength="1" />
-->
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>