@{
    ViewBag.Title = "Home Page";
}
@using CT.SC.Foundation.SolrIndexValidation.Models
@model List<Product>
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div class="row">
	<div class="col-md-4">
		<h2>Response from </h2>https://localhost:8983/solr/samplecollection/select?indent=on&q=*:*&wt=json
		<p>
			<ul class="list-group list-group-flush">
				@foreach (Product prod in Model)
				{
					<li class="list-group-item">
						<h4>Id:</h4> @prod.ID   <h4>Name:</h4> @prod.Name
					</li>
				}
			</ul>

		</p>

	</div>

</div>