<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <mvc.getPageRendering>
        <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']" type="CT.SC.Foundation.Assets.Pipelines.GetPageRendering.ClearAssets, CT.SC.Foundation.Assets"/>
        <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']" type="CT.SC.Foundation.Assets.Pipelines.GetPageRendering.AddAssets, CT.SC.Foundation.Assets">
          <siteAssets hint="raw:AddAsset" />
        </processor>
        <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']" type="CT.SC.Foundation.Assets.Pipelines.GetPageRendering.AddThemeAssets, CT.SC.Foundation.Assets"/>
        <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']" type="CT.SC.Foundation.Assets.Pipelines.GetPageRendering.AddPageAssets, CT.SC.Foundation.Assets"/>
        <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']" type="CT.SC.Foundation.Assets.Pipelines.GetPageRendering.AddRenderingAssets, CT.SC.Foundation.Assets"/>
      </mvc.getPageRendering>
    </pipelines>
  </sitecore>
</configuration>