<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Project.Common.Website" description="Common content and settings" dependencies="Foundation.*,Feature.*" extends="Helix.Project">
          <predicate>
            <include name="Layouts" database="master" path="/sitecore/layout/layouts/Project/Common" />
            <include name="PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/Common" />

            <include name="Media.Common" database="master" path="/sitecore/media library/Project/Common" />

            <include name="Metadata" database="master" path="/sitecore/system/settings/Feature/Metadata">
              <exclude children="true" />
            </include>

            <include name="Themes" database="master" path="/sitecore/system/Settings/Project/Themes/Common" />

            <include name="BucketSettings" database="master" path="/sitecore/system/Settings/Buckets/Item Buckets Settings" />

            <include name="Sites.Settings" database="master" path="/sitecore/system/Settings/Project/Sites Settings">
            </include>
            <include name="Content.Tenant" database="master" path="/sitecore/content/CT">
              <exclude children="true" />
            </include>
            <include name="Media.Tenant" database="master" path="/sitecore/media library/Project/CT">
              <exclude path="/sitecore/media library/Project/CT/BranA"/>
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>